#grampstextdoc .AHN-Entry {
	font-size: 12pt;
	text-align: left; text-indent: -1.00cm;
	margin-right: 0.00cm; margin-left: 1.00cm;
	margin-top: 0.12cm; margin-bottom: 0.12cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .AHN-Generation {
	font-size: 14pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.12cm; margin-bottom: 0.12cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-style:italic; 
}
#grampstextdoc .AHN-Title {
	font-size: 16pt;
	text-align: center; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}