#grampstextdoc .PLC-Cell {
	padding: 0.000cm 0.000cm 0.000cm 0.000cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
}
#grampstextdoc .PLC-TableColumn {
	padding: 0.000cm 0.000cm 0.000cm 0.000cm;
	border-top:none; border-bottom:thin solid #000000;
	border-left:none; border-right:none;
}
#grampstextdoc .PLC-ColumnTitle {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.00cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}
#grampstextdoc .PLC-Details {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.00cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PLC-PlaceDetails {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.00cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PLC-PlaceTitle {
	font-size: 12pt;
	text-align: left; text-indent: -1.50cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.75cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}
#grampstextdoc .PLC-ReportTitle {
	font-size: 16pt;
	text-align: center; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}
#grampstextdoc .PLC-Section {
	font-size: 10pt;
	text-align: left; text-indent: -1.50cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.50cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}