#grampstextdoc .Endnotes-Source {
	font-size: 10pt;
	text-align: left; text-indent: -0.75cm;
	margin-right: 0.00cm; margin-left: 1.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level1 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level10 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 9.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level11 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level12 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level13 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level14 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level15 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level16 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level17 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level18 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level19 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level2 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level20 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level21 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level22 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level23 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level24 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level25 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level26 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level27 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level28 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level29 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level3 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 2.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level30 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level31 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level32 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level4 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 3.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level5 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 4.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level6 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 5.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level7 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 6.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level8 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 7.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Level9 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 8.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .PE-Title {
	font-size: 12pt;
	text-align: center; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.11cm; margin-bottom: 0.11cm;
	border-top:none; border-bottom:thin solid #000000;
	border-left:none; border-right:none;
	font-weight:bold; 
}