#grampstextdoc .DR-Level1 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 0.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level10 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 9.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level11 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level12 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level13 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level14 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level15 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level16 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level17 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level18 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level19 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level2 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level20 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level21 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level22 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level23 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level24 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level25 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level26 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level27 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level28 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level29 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level3 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 2.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level30 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level31 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level32 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level4 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 3.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level5 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 4.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level6 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 5.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level7 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 6.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level8 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 7.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Level9 {
	font-size: 10pt;
	text-align: left; text-indent: -0.50cm;
	margin-right: 0.00cm; margin-left: 8.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse1 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse10 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 9.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse11 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse12 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse13 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse14 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse15 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse16 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse17 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse18 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse19 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse2 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse20 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse21 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse22 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse23 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse24 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse25 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse26 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse27 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse28 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse29 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse3 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 2.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse30 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse31 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse32 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 10.00cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse4 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 3.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse5 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 4.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse6 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 5.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse7 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 6.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse8 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 7.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Spouse9 {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 8.50cm;
	margin-top: 0.04cm; margin-bottom: 0.04cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DR-Title {
	font-size: 12pt;
	text-align: center; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.11cm; margin-bottom: 0.11cm;
	border-top:none; border-bottom:thin solid #000000;
	border-left:none; border-right:none;
	font-weight:bold; 
}