#grampstextdoc .NOA-Normal {
	font-size: 12pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.00cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .NOA-Title {
	font-size: 16pt;
	text-align: center; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.00cm; margin-bottom: 0.28cm;
	border-top:none; border-bottom:thin solid #000000;
	border-left:none; border-right:none;
	font-weight:bold; 
}