#grampstextdoc .DDR-First-Entry {
	font-size: 12pt;
	text-align: left; text-indent: -1.50cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DDR-Generation {
	font-size: 14pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-style:italic; 
}
#grampstextdoc .DDR-Title {
	font-size: 16pt;
	text-align: center; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}
#grampstextdoc .DDR-ChildTitle {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}
#grampstextdoc .Endnotes-Ref {
	font-size: 12pt;
	text-align: left; text-indent: -0.90cm;
	margin-right: 0.00cm; margin-left: 1.90cm;
	margin-top: 0.20cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .Endnotes-Header {
	font-size: 14pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.00cm;
	margin-top: 0.20cm; margin-bottom: 0.20cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-style:italic; 
}
#grampstextdoc .DDR-MoreHeader {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}
#grampstextdoc .DDR-Entry {
	font-size: 12pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DDR-NoteHeader {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	font-weight:bold; 
}
#grampstextdoc .DDR-ChildList {
	font-size: 10pt;
	text-align: left; text-indent: -0.75cm;
	margin-right: 0.00cm; margin-left: 2.25cm;
	margin-top: 0.12cm; margin-bottom: 0.12cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .Endnotes-Source {
	font-size: 12pt;
	text-align: left; text-indent: -0.75cm;
	margin-right: 0.00cm; margin-left: 0.75cm;
	margin-top: 0.20cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .Endnotes-Ref-Notes {
	font-size: 12pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.90cm;
	margin-top: 0.20cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .DDR-MoreDetails {
	font-size: 10pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 1.50cm;
	margin-top: 0.25cm; margin-bottom: 0.25cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}
#grampstextdoc .Endnotes-Source-Notes {
	font-size: 12pt;
	text-align: left; text-indent: 0.00cm;
	margin-right: 0.00cm; margin-left: 0.75cm;
	margin-top: 0.20cm; margin-bottom: 0.00cm;
	border-top:none; border-bottom:none;
	border-left:none; border-right:none;
	
}